<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/thankYouStyles.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div class="container">
        <h1>Thank you for your time!</h1>
        <button class="btn btn-home">Take me Home!</button>
    </div>
    <script src="../js/scriptThankYou.js"></script>
    
</body>
</html>